body {
  background-image: url("../assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dfb511;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 90vh;
  margin-bottom: 64px;
}

#left {
  display: flex;
  flex-direction: column;
  width: 65%;
  left: 0;
  z-index: 5;
}

#right {
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
  padding-top: 7%;
  margin-top: 35px;
  background-color: #a5751bd3;
}

.label {
  float: left;
  margin-left: 15px;
  height: 18px;
  font-size: large;
  font-weight: bold;
  background: linear-gradient(#4e421b, #ba4c3c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#register {
  text-align: left;
  text-decoration: underline;
  color: #463f3a;
  opacity: 0.6;
}

#register:hover {
  opacity: 1;
  cursor: pointer;
}

#logo {
  width: 140px;
  height: 140px;
  margin-bottom: 1px;
  margin-top: -40px;
}

h1 {
  margin-top: -20px;
  background: linear-gradient(#4e421b, #ba4c3c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  width: 100%;
}

.login-input {
  margin: 15px;
  height: 29px;
  width: 60%;
}

.login-input:focus {
  outline: none;
}

#submit {
  border: none;
  padding: 11px;
  width: 40%;
  font-size: large;
  background: linear-gradient(#4e421b, #ba4c3c);
}

#submit:hover {
  background: linear-gradient(90deg, #ba4c3c, #4e421b);
}

footer {
  height: 43vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #a5751bd3;
}

.col {
  width: 33.33333%;
  flex: 1 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .col h2 {
  font-size: 140%;
  background: linear-gradient(#2a2de0, #7900c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: left;
}

li {
  font-size: x-large;
}

#tech {
  list-style: none;
}

.techs {
  display: inline;
  margin: 12px;
}
