body {
  background-image: url("../assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fad643;
}

#container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 90vh;
}

#left {
  display: flex;
  flex-direction: column;
  width: 65%;
  left: 0;
  z-index: 5;
}

#right {
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
  padding-top: 7%;
  margin-top: 35px;
  background-color: #a5751bd3;
}

.label {
  float: left;
  margin-left: 15px;
  height: 18px;
  font-size: large;
  background: linear-gradient(#2a2de0, #7900c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#register {
  text-align: left;
  text-decoration: underline;
  color: #463f3a;
  opacity: 0.6;
}

#register:hover {
  opacity: 1;
  cursor: pointer;
}

#logo {
  width: 140px;
  height: 140px;
  margin-bottom: 1px;
  margin-top: -40px;
}

h1 {
  margin-top: -20px;
  background: linear-gradient(#2a2de0, #7900c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  width: 100%;
}

.login-input {
  margin: 15px;
  height: 29px;
  width: 60%;
}

.login-input:focus {
  outline: none;
}

#submit {
  border: none;
  padding: 11px;
  width: 40%;
  font-size: large;
  background: linear-gradient(#2a2de0, #7900c9);
}

#submit:hover {
  background: linear-gradient(#7900c9, #2a2de0);
}
