body{
  margin: 0;
}
h1{
  text-decoration: underline;
}
header {
    background-color:#e3bd27
    ;
    text-align: center;
    padding: 20px;
  }
  .container{
    width: available;
    height: 30vh;
    
}

.leftpane{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: left;
    border-collapse: collapse;
}

.middlepane{
   width: 50%;
   min-width: 800px;
   height: available;
   min-height: 650px;
   float: left; 
   
   border-collapse: collapse;
}

.rightpane{
    width: 25%;
    min-width: 350px;
    min-height: 400px;
    height: available;
    
    margin-left: 75%;
  
    border-collapse: collapse;
    float: inline-start;
}
  h1{
    text-align: center;
    background-color: #fad643
    ;
  }
  h4{
    text-align: left;
  }
  .main2{
    text-align: center;
  }


.kebrou{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 200px;
  text-align: center;
}

h3{
  text-align: center;
    text-decoration-line: underline;
}
.sghayrat{
  width: 100%;
  height: 200px;
  text-align: center;
}


.courses {
  border: none;
  padding: 11px;
  width: 170px;
  font-size: large;
  background: linear-gradient(#4e421b, #ba4c3c);
}

.courses:hover {
  background: linear-gradient(90deg, #ba4c3c, #4e421b);
}
footer {
  height: 70vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #a5751bd3;
  width: 100%;
}
.col {
  width: 33.33333%;
  flex: 1 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .col h2 {
  font-size: 140%;
  background: linear-gradient(#2a2de0, #7900c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: left;
}

li {
  font-size: x-large;
}

#tech {
  list-style: none;
}

