body{
    background-image: url("../assets/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dfb511;
    padding: 0;
    margin: 0;
  }

h2{
    text-align: center;
   
}
header {
    
    text-align: center;
    padding: 20px;
  }
  #btn {
    border: none;
    padding: 11px;
    width: 40%;
    font-size: large;
    background: linear-gradient(#4e421b, #ba4c3c);
  }
  
  #btn:hover {
    background: linear-gradient(90deg, #ba4c3c, #4e421b);
  }


.container{
    overflow: hidden;
    padding: 400px 100px;
    
}
.akra{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 200px;
    text-align: right;
}
.lili{
    /* display: inline-flex; */
    text-align: center;
    list-style: none;
}
.mini_container{
    text-align: center;
}
.profi{
    text-decoration-line: underline;
}
footer {
    height: 43vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #a5751bd3;
  }
  
  .col {
    width: 33.33333%;
    flex: 1 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer .col h2 {
    font-size: 140%;
    background: linear-gradient(#2a2de0, #7900c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
  }
  
  li {
    font-size: x-large;
  }
  
  #tech {
    list-style: none;
  }
  
  .techs {
    display: inline;
    margin: 12px;
  }
  
